# environment variables
.env

*.pyc
__pycache__/
**/.DS_Store
repo-backup.bundle
.ruff_cache
OCID-dataset
services/sam_service/checkpoints/*
debugging_scripts/*
debugging_scripts/contact_graspnet
shared/debug/rc_cube
shared/debug/cgn/heatmap/*