# Core
numpy>=2.0,<2.1
scipy==1.14.1

# Packaging
setuptools<82
wheel

# Web
fastapi
uvicorn[standard]
pydantic
requests

# Torch
torch==2.10.0
torchvision==0.25.0

# Vision
opencv-python-headless
matplotlib
Pillow

# ML
scikit-learn
scikit-image
pandas

# SAM3
ftfy==6.1.1
iopath
portalocker
einops
pycocotools
psutil

# HF / utils
huggingface_hub
timm
regex
pyyaml
rich
typer